body{
    text-align: center;

}

.boxs{
border: 4px solid black;
height: 200px;
width: 200px;
margin: 2rem;
border-radius: 2rem;
}


.red{
    background-color: #d95980;
}
.green{
    background-color: #63aac0;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color: #819ff9;
}
.box_container{
    display: flex;
    margin: auto;
    justify-content: center;
    
    align-items: center;
}
.flash{
    background-color: white;
}

.rules{
    text-align: left;

    margin: auto;
    width: 30%;
}




@media screen and (max-width: 480px) {
.boxs{
border: 4px solid black;
height:100px;
width: 100px;
margin: 2rem;
border-radius: 2rem;
}
.rules{
    text-align: left;

    margin: auto;
    width: 100%;
}


}